.product {
  padding-bottom: 2rem;
  height: 300px;

  &__img {
    width: 135px;
    height: 180px;
    position: relative !important;
    left: 0px !important;
    padding-top: 20px;
  }

  &__text {
    flex: 0 0 40%;
  }

  &__link {
    flex: 0 0 60%;
    height: 60%;
    padding: 1rem;
    position: relative;
  }

  &__title {
    font-size: .8rem;
  }

  &__price {

  }

  &__stock {

  }

  &__description {
    font-size: 0.7rem;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
  }

  &__add-to-cart {
    position: absolute;
    bottom: .8rem;
    width: 60%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: all .2s;
    padding: 3px 12px;

  }

  &:hover &__add-to-cart {
    visibility: visible;
    opacity: 1;
  }

  &:hover .owl-dots {
    display: inline-block;
  }

}

a{
  color: black;
  text-decoration: none;
  font-size: 1.8em;
}
a:hover{
  color: black;
  text-decoration: none;
  font-size: 1.8em;
}
.product__stock{
  display: none;
}

.card{
  border: none;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.discount{
  background-color: white;
  color: white;
  height: 30px;
}

.discount_label{
  float: right;
  padding-right: 10px;
}

.discount > i{
  font-size: 1.5em;
  padding-left: 5px;
}
.card-header{
  background-color: white;
}

.filter-button{
  background-color: white;
  border:none;
}

.sortby{
  margin-left: 20px;
}

.card-body{
  padding-left: 0px;
}
.sortby-label{
  margin: auto;
  padding-right: 10px;
}
@media only screen and (max-width: 768px) {
  .product {
    height: auto !important;
    &__add-to-cart {
      visibility: visible;
      opacity: 1;
    }

    & .owl-dots {
      display: inline-block;
    }
  }  
  .sortby-label{
    display: none;
  }

}